.right-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  pointer-events: none;
  border-radius: 10px;
}

.cont {
  padding: 8px 12px;
}
.cont .menu-item {
  display: flex;
  gap: 0.6rem;
}
.cont .menu-item .img-cont {
  width: 16px;
  aspect-ratio: 1/1;
}
.cont .menu-item .img-cont img {
  width: 100%;
  height: 100%;
}
.cont ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.cont .right-menu li {
  padding: 8px 12px;
  cursor: pointer;
}
.cont .right-menu li:hover {
  background-color: #f0f0f0;
}