* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  height: 45rem;
  width: 40rem;
  background-color: #2b2b2b;
  border: 1px solid #494646;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.start-menu-cont {
  padding: 2rem 1rem;
}

.search-cont {
  padding: 0 1.5rem;
}
.search-cont .search {
  display: flex;
  align-items: center;
  background-color: #1d1d1d;
  border-radius: 1rem;
  padding: 0.4rem 1rem;
  border: 1px solid #494646;
}
.search-cont .search input {
  background: transparent;
  border: none;
  color: white;
  outline: none;
  padding: 0 0.5rem;
  width: 100%;
}
.search-cont .search img {
  width: 15px;
}

.apps {
  color: white;
  padding: 2rem 2rem;
}
.apps .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.apps .title .all {
  background-color: #494646;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.apps .title .all img {
  width: 8px;
}
.apps .apps-cont {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}
.apps .app {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  width: 4rem;
}
.apps .app img {
  width: 30px;
}
.apps .app span {
  font-weight: 500;
  font-size: 0.85rem;
}

.user-cont {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  background-color: #232323;
}
.user-cont .user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.user-cont .user:hover {
  background-color: #3a3737;
}
.user-cont .user img {
  width: 30px;
  border-radius: 50%;
}
.user-cont .user span {
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
}
.user-cont .power-btn {
  padding: 0.6rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-cont .power-btn img {
  width: 20px;
  border-radius: 50%;
}
.user-cont .power-btn:hover {
  background-color: #3a3737;
}