* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
.container {
  width: 100%;
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  height: 45rem;
  width: 40rem;
  background-color: var(--bg-lighter);
  border: 1px solid #494646;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--text-color);
}
.start-menu-cont {
  padding: 2rem 1rem;
}

.search-cont {
  padding: 0 1.5rem;

  .search {
    display: flex;
    align-items: center;
    background-color: var(--bg-element);
    border-radius: 1rem;
    padding: 0.4rem 1rem;
    border: 1px solid #494646;

    input {
      background: transparent;
      border: none;
      color: var(--text-color);
      outline: none;
      padding: 0 0.5rem;
      width: 100%;
    }

    img {
      width: 15px;
    }
  }
}

.apps {
  color: var(--text-color);
  padding: 2rem 1.5rem;

  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    .all {
      background-color: var(--bg-color);
      padding: 0.2rem 0.5rem;
      border-radius: 5px;
      display: flex;
      align-items: center;
      gap: 0.4rem;
      color: var(--text-color);

      img {
        width: 8px;
      }
    }
  }
  .apps-cont {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
  }
  .app {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    width: 4rem;

    img {
      width: 30px;
    }

    span {
      font-weight: 500;
      font-size: 0.85rem;
      
    }
  }
}
.user-cont {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  background-color: var(--bg-darker);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  .user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--icon-hover);
    }

    img {
      width: 30px;
      border-radius: 50%;
    }

    span {
      color: var(--text-color);
      font-weight: 500;
      font-size: 0.8rem;
    }
  }
  .power-btn {
    padding: .6rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: var(--filter-icon);

    img{
      width: 20px;
      border-radius: 50%;
    }

    &:hover {
      background-color: var(--icon-hover);
    }
  }
}
